body{
	background-color:#0e5135;
	color:#448C00;
	background-image:url("zeldawallpaper.jpg");
	width: 750px;
	margin:auto;
}
nav li{
	display:inline;
}
main{
	/*background-color:#0e5135;*/
	background: rgba(255, 255, 255, 0.5);
}
